
body {
    margin-bottom: 60px;
    background: lightgrey;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3, h2, h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 20px;
}

h2, .h2 {
    font-size: 16px;
}

h3, .h3 {
    font-size: 14px;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
  }

thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
  
ol, ul {
  padding-left: 2rem;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

a {
    color: lightseagreen;
    text-decoration: underline;
}

a:hover {
    color: seagreen;
}